{
  "presets": ["babel-preset-expo"],
  "sourceMaps": true,
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source",
        ["module-resolver", {
          "root": ["./build"]
        }]
      ]
    }
  }
}
