{
  "presets": ["babel-preset-expo"],
  "sourceMaps": true,
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source"
      ]
    }
  },
  "plugins": [
    ["module-resolver", {
      "root": ["./build"]
    }]
  ]
}
